rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }
    function roleFromClaim() {
      return request.auth.token.role;
    }
    function role() {
      return signedIn() ? (
        roleFromClaim() != null ? roleFromClaim() :
        firestore.get(/databases/(default)/documents/user_roles/$(request.auth.uid)).data.role
      ) : null;
    }
    function isAdminOrStaff() {
      return signedIn() && (role() == 'Admin' || role() == 'Staff');
    }
    function isReseller() {
      return signedIn() && role() == 'Reseller';
    }

    // Feed and app media files.
    match /media/{allPaths=**} {
      allow read: if signedIn();
      allow write: if isAdminOrStaff() || isReseller();
    }
  }
}
